/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// fonts
$font-family-sans-serif: Lato, "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f0f1eb !default;
$body-color: #000 !default;
$link-color: #5C5CFF !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: Lato, sans-serif !default;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size:	1.0em;
$presentation-h4-font-size:	0.8em;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}
.small-code {
  font-size: 15%; /* Adjust the percentage as needed */
}
.tiny {
  font-size: 65%; /* Smaller than .smaller */
}

.small {
  font-size: 80%; 
}

.tinier {
  font-size: 60%; /* Smaller than .smaller */
}
