@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");

.reveal {
  font-family: "IBM Plex Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.025em;
  text-transform: none;
}

.reveal code,
.reveal pre {
  font-family: "IBM Plex Mono", monospace;
}
