    <div class="wrapper">
      <header>
        <h1>Eric Novik</h1>
        <p>
        Something very clever about me.
        </p>

        <img src="{{ site.url }}/static/me.png" style="border:5px solid white">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/ericnovik">
				<i class="fa fa-github"></i>
			</a>

			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ericnovik">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/enovik">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:eric.novik@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
