    <div class="wrapper">
      <header>
        <h1>Union of Stats, Stan, and R</h1>
        <p>
        Hello and welcome to the USSR blog. I am interested in applied Bayesian statistics with <a href="http://mc-stan.org">Stan</a>, statistical graphics, and pre/post processing of data using R. This blog is my attempt to document my learning experience. For a comprehensive Stan documentation, please consult a very readable <a href="http://mc-stan.org/documentation/">Stan User's Guide</a> and a noobie-friendly <a href="https://groups.google.com/forum/#!forum/stan-users">Stan User Group</a>.

        </p>

        <img src="{{ site.url }}/static/me.jpeg" style="border:1px solid black">

        <br><br>

        <div align="center">
			<a class="btn btn-social-icon btn-github" href="https://github.com/ericnovik">
				<i class="fa fa-github"></i>
			</a>

			<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ericnovik">
				<i class="fa fa-twitter"></i>
			</a>
			
			<a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/enovik">
				<i class="fa fa-linkedin"></i>
			</a>

			<a class="btn btn-social-icon btn-google" href="mailto:eric.novik@gmail.com">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>
		
      </header>
